body {
    padding: 3%;
    background: #fff;
}

.content-centered {
    margin: 20px 10% 10px 10%;
}

.tab-border {
    border: 1px solid #ddd;
}

.panel-heading {
    padding: 0;
}

    .panel-heading a {
        display: block;
        padding: 20px 10px;
    }

        .panel-heading a.collapsed {
            background: #fff;
        }

    .panel-heading a {
        background: #f7f7f7;
        border-radius: 5px;
    }

        .panel-heading a:after {
            content: '-';
        }

        .panel-heading a.collapsed:after {
            content: '+';
        }

.nav.nav-tabs li a,
.nav.nav-tabs li.active > a:hover,
.nav.nav-tabs li.active > a:active,
.nav.nav-tabs li.active > a:focus {
    border-bottom-width: 0px;
    outline: none;
}

.nav.nav-tabs li a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-brand {
    padding: 0;
}

    .navbar-brand img {
        margin-top: 0px;
        margin-left: 0px;
    }

.tab-pane {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

.introduction-text {
    top: 8%;
    position: absolute;
    left: 40%;
    font-size: 40px;
}

textarea.form-control {
    height: 200px !important;
    margin: 20px 15% 0px 15%;
    width: 70%;
}
