﻿@{
    Layout = null;
}

<div class="row">
    <div class="introduction-text" ng-bind="lessonTitle"></div>
    <div class="tab-border">
        <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
            <li class="active"><a href="#lesson" role="tab" data-toggle="tab">Lesson</a></li>
            <li><a href="#assessment" role="tab" data-toggle="tab">Assessment</a></li>
            <li><a href="#notes" role="tab" data-toggle="tab">Notes</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="lesson">
                <p ng-bind="lessonContent"></p>
            </div>
            <div class="tab-pane fade" id="assessment">
                <p ng-bind="assessmentContent"></p>
            </div>
            <div class="tab-pane fade" id="notes">
                <div class="row">
                    <textarea ng-model="lessonNotes" class="form-control"></textarea>
                </div>
                <div class="row content-centered" style="text-align: center;">
                    <button class="btn btn-success" ng-click="updateNotes()">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>
